DaDouDou.v11.suo
DaDouDou/bin/debug
DaDouDou/obj/debug
DaDouDou/AppPackages/
DaDouDou/DaDouDou.csproj.user
DaDouDou/DaDouDou_StoreKey.pfx
DaDouDou/Package.StoreAssociation.xml
DaDouDou/bin/
DaDouDou/obj/
